.container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.ball {
  position: absolute;
  border-radius: 50%;
  filter: blur(1px);
  box-shadow: 0 0 40px rgba(59, 130, 246, 0.2);
}
